main.log
*.out
*.aux
*.bbl
*.blg
main.pdf
main.synctex.gz

*.aux
*.log
*.out
*.toc
*.gz
*.bbl
*.blg
*.pyc
**.pyc

/*
!/.gitignore
!/.github/
!/.github/workflows/
!/.github/workflows/**
!/newtphys.github.io/
!/newtphys.github.io/**
!/data_viewer/
!/data_viewer/**

video_newtphys_maps/**_og
vqa/val_answer_run_28_general.json
vqa/test_run_28_general-all_karo_10K.json

downloaded/**